**Naive Bayes**

**Analise de Sentimentos**

In [4]:
# Importa a biblioteca NLTK para processamento de linguagem natural
import nltk

# Importa a biblioteca re para trabalhar com expressões regulares
import re

# Importa a biblioteca pandas para manipulação e análise de dados
import pandas as pd

# Importa CountVectorizer para converter texto em uma matriz de contagem de tokens
from sklearn.feature_extraction.text import CountVectorizer

# Importa o modelo Naive Bayes Multinomial para classificação
from sklearn.naive_bayes import MultinomialNB

# Importa a biblioteca metrics para avaliação de modelos
from sklearn import metrics

# Importa cross_val_predict para realizar validação cruzada e gerar previsões
from sklearn.model_selection import cross_val_predict

**Ler aqruivo de dados e conta a quantidade de linhas**

In [5]:
# Lê o arquivo CSV 'Tweets_Mg.csv' com codificação 'utf-8' e armazena os dados em um DataFrame chamado 'dataset'
dataset = pd.read_csv('Tweets_Mg.csv', encoding='utf-8')

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8199 entries, 0 to 8198
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 8199 non-null   int64
 1   Created At                 8199 non-null   object
 2   Text                       8199 non-null   object
 3   Geo Coordinates.latitude   104 non-null    float64
 4   Geo Coordinates.longitude  104 non-null    float64
 5   User Location              5489 non-null   object
 6   Username                   8199 non-null   object
 7   User Screen Name           8199 non-null   object
 8   Retweet Count              8199 non-null   int64
 9   Classificacao              8199 non-null   object
 10  Observação                 1 non-null      object
 11  Unnamed: 10                0 non-null      float64
 12  Unnamed: 11                0 non-null      float64
 13  Unnamed: 12                0 non-null      float64
 14  Unnamed: 13                0 non-null      float64
 15  Unnamed: 14                0 non-null      float64
 16  Unnamed: 15                0 non-null      float64
 17  Unnamed: 16                0 non-null      float64
 18  Unnamed: 17                0 non-null      float64
 19  Unnamed: 18                0 non-null      float64
 20  Unnamed: 19                0 non-null      float64
 21  Unnamed: 20                0 non-null      float64
 22  Unnamed: 21                0 non-null      float64
 23  Unnamed: 22                0 non-null      float64
 24  Unnamed: 23                0 non-null      float64
 25  Unnamed: 24                0 non-null      float64
dtypes: float64(17), int64(2), object(7)
memory usage: 1.6+ MB

In [8]:
# Define uma opção do pandas para exibir o conteúdo completo das colunas, sem truncar os textos
pd.set_option('display.max_colwidth', None)

# Exibe as 100 primeiras linhas da coluna 'Text' do DataFrame 'dataset'
dataset.Text.head(100)

0                                                              ���⛪ @ Catedral de Santo Antônio - Governador Valadares/MG https://t.co/JSbKamIqUJ
1                                                                                  � @ Governador Valadares, Minas Gerais https://t.co/B3ThIDJCSf
2                                                                                 �� @ Governador Valadares, Minas Gerais https://t.co/dPkgzVR2Qw
3                                                                                                                     ��� https://t.co/BnDsO34qK0
4                  ��� PSOL vai questionar aumento de vereadores e prefeito de BH na Justiça - Politica - Estado de Minas https://t.co/DMg7BGsek5
                                                                         ...
95                             #noticiasdorenan Uso de depósitos judiciais pelo governo tem nova polêmica em MG: O Banco… https://t.co/kHuZpKQaj5
96    #OperacaoBetaLab #TimBeta #Beta #BetaLab #BetaAjudaBeta #BetaSegueBeta UOL: Desastre ambiental em MG: Empresas ped… https://t.co/kwyeKjhtcI
97    #OperacaoBetaLab #TimBeta #Beta #BetaLab #BetaAjudaBeta #BetaSegueBeta UOL: Governo em calamidade financeira: BB a… https://t.co/1rWaHUACqt
98    #OperacaoBetaLab #TimBeta #Beta #BetaLab #BetaAjudaBeta #BetaSegueBeta UOL: Polêmica com filho de Pimentel: Govern… https://t.co/E1EhSA9Ti3
99                        #operacaobetalab BB avisa Justiça que governo de MG não tem recursos em conta judicial https://t.co/W6AoFMMsvA #rt #sdv
Name: Text, Length: 100, dtype: object

**Exclui linhas duplicadas**

In [9]:
# Remove linhas duplicadas do DataFrame 'dataset' com base na coluna 'Text'
# O parâmetro 'inplace=True' garante que as alterações sejam feitas diretamente no DataFrame original
dataset.drop_duplicates(['Text'], inplace=True)

In [10]:
dataset.count()

Unnamed: 0                   5765
Created At                   5765
Text                         5765
Geo Coordinates.latitude      104
Geo Coordinates.longitude     104
User Location                3851
Username                     5765
User Screen Name             5765
Retweet Count                5765
Classificacao                5765
Observação                      1
Unnamed: 10                     0
Unnamed: 11                     0
Unnamed: 12                     0
Unnamed: 13                     0
Unnamed: 14                     0
Unnamed: 15                     0
Unnamed: 16                     0
Unnamed: 17                     0
Unnamed: 18                     0
Unnamed: 19                     0
Unnamed: 20                     0
Unnamed: 21                     0
Unnamed: 22                     0
Unnamed: 23                     0
Unnamed: 24                     0
dtype: int64

**Removendo coluna desnecessárias**

In [ ]:
# Itera sobre os nomes das colunas do DataFrame 'dataset'
for i in dataset.columns.values:
    # Verifica se o nome da coluna começa com 'Unnamed'
    if i.startswith('Unnamed'):
        # Remove a coluna do DataFrame 'dataset'
        dataset.drop(i, axis=1, inplace=True)
        # Exibe o nome da coluna que foi deletada
        print('Colunas Deletadas:', i)

Colunas Deletadas: Unnamed: 0
Colunas Deletadas: Unnamed: 10
Colunas Deletadas: Unnamed: 11
Colunas Deletadas: Unnamed: 12
Colunas Deletadas: Unnamed: 13
Colunas Deletadas: Unnamed: 14
Colunas Deletadas: Unnamed: 15
Colunas Deletadas: Unnamed: 16
Colunas Deletadas: Unnamed: 17
Colunas Deletadas: Unnamed: 18
Colunas Deletadas: Unnamed: 19
Colunas Deletadas: Unnamed: 20
Colunas Deletadas: Unnamed: 21
Colunas Deletadas: Unnamed: 22
Colunas Deletadas: Unnamed: 23
Colunas Deletadas: Unnamed: 24

In [12]:
# Visualizando as colunas do dataset
dataset.columns

Index(['Created At', 'Text', 'Geo Coordinates.latitude',
       'Geo Coordinates.longitude', 'User Location', 'Username',
       'User Screen Name', 'Retweet Count', 'Classificacao', 'Observação'],
      dtype='object')